In [5]:
# Load resources
import pandas as pd

In [6]:
# Load file
statsFile = "../resources/international_airline_activity_monthly_airline_performance_1120.xlsx"
ittfa_df = pd.read_excel(statsFile)
ittfa_df.head(10)

,International traffic to/from Australia,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,Month,Passengers,NaN,NaN,NaN,Freight (kg),NaN,NaN,NaN,...,NaN,NaN,NaN,Available seats,NaN,NaN,NaN,Seat utilisation %,NaN,NaN
2,NaN,NaN,Inbound,Outbound,Total,NaN,Inbound,Outbound,Total,NaN,...,Outbound from,NaN,NaN,Inbound to,Outbound from,NaN,NaN,Inbound to,Outbound from,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Australia,Total,NaN,Australia,Australia,Total,NaN,Australia,Australia,Total
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1985,Jan,263795,208770,472565,NaN,8052874,7682643,15735517,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1985,Feb,204953,179222,384175,NaN,9486680,9016229,18502909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1985,Mar,209513,231582,441095,NaN,10864416,11294803,22159219,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1985,Apr,182673,214403,397076,NaN,9285968,8916993,18202961,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1985,May,198902,224350,423252,NaN,10069178,9445560,19514738,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Rename Columns

ittfa_df.columns = ['year','month','passengers_in','passengers_out','passengers_total','drop_1','freight_in','freight_out','freight_total','drop_2','mail_in','mail_out','mail_total','drop_3','aircraft_in','aircraft_out','aircraft_total','drop_4','flights_in','flights_out','flights_total','drop_5','passengers_incl_transit_in','passengers_incl_transit_out','passengers_incl_transit_total','drop_6','available_seats_in','available_seats_out','available_seats_total','drop_7','seat_utilisation_in','seat_utilisation_out','seat_utilisation_total']
ittfa_df.head(10)

,year,month,passengers_in,passengers_out,passengers_total,drop_1,freight_in,freight_out,freight_total,drop_2,...,passengers_incl_transit_out,passengers_incl_transit_total,drop_6,available_seats_in,available_seats_out,available_seats_total,drop_7,seat_utilisation_in,seat_utilisation_out,seat_utilisation_total
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,Month,Passengers,NaN,NaN,NaN,Freight (kg),NaN,NaN,NaN,...,NaN,NaN,NaN,Available seats,NaN,NaN,NaN,Seat utilisation %,NaN,NaN
2,NaN,NaN,Inbound,Outbound,Total,NaN,Inbound,Outbound,Total,NaN,...,Outbound from,NaN,NaN,Inbound to,Outbound from,NaN,NaN,Inbound to,Outbound from,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Australia,Total,NaN,Australia,Australia,Total,NaN,Australia,Australia,Total
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1985,Jan,263795,208770,472565,NaN,8052874,7682643,15735517,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1985,Feb,204953,179222,384175,NaN,9486680,9016229,18502909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1985,Mar,209513,231582,441095,NaN,10864416,11294803,22159219,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1985,Apr,182673,214403,397076,NaN,9285968,8916993,18202961,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1985,May,198902,224350,423252,NaN,10069178,9445560,19514738,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Drop irrelevant columns
dropCols = [col for col in ittfa_df.columns if 'drop' in col]
dropCols

clean_ittfa_df = ittfa_df.drop(dropCols,axis=1)
clean_ittfa_df.head(20)

,year,month,passengers_in,passengers_out,passengers_total,freight_in,freight_out,freight_total,mail_in,mail_out,...,flights_total,passengers_incl_transit_in,passengers_incl_transit_out,passengers_incl_transit_total,available_seats_in,available_seats_out,available_seats_total,seat_utilisation_in,seat_utilisation_out,seat_utilisation_total
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,Month,Passengers,NaN,NaN,Freight (kg),NaN,NaN,Mail (kg),NaN,...,NaN,Passengers (including passengers transitting A...,NaN,NaN,Available seats,NaN,NaN,Seat utilisation %,NaN,NaN
2,NaN,NaN,Inbound,Outbound,Total,Inbound,Outbound,Total,Inbound,Outbound,...,NaN,Inbound to,Outbound from,NaN,Inbound to,Outbound from,NaN,Inbound to,Outbound from,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Total,Australia,Australia,Total,Australia,Australia,Total,Australia,Australia,Total
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1985,Jan,263795,208770,472565,8052874,7682643,15735517,78988,225301,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1985,Feb,204953,179222,384175,9486680,9016229,18502909,82017,228727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1985,Mar,209513,231582,441095,10864416,11294803,22159219,110104,274335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1985,Apr,182673,214403,397076,9285968,8916993,18202961,90416,228588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1985,May,198902,224350,423252,10069178,9445560,19514738,89835,279164,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1985,Jun,193943,209080,403023,9917010,9289537,19206547,95810,238634,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1985,Jul,206179,196596,402775,10221081,8740776,18961857,108872,253346,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1985,Aug,216594,229109,445703,9893065,8676325,18569390,100072,259703,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1985,Sep,243608,197542,441150,9936995,8428223,18365218,91627,247198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1985,Oct,249262,178319,427581,10698610,9661776,20360386,91717,213357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1985,Nov,233980,211234,445214,10078508,10337625,20416133,101312,383910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1985,Dec,243329,273435,516764,9973761,11032881,21006642,150350,510482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Year 1985 total,NaN,2646731,2553642,5200373,118478146,112523371,231001517,1191120,3342745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
clean_ittfa_df['year'] = clean_ittfa_df[clean_ittfa_df['year'].apply(lambda x: str(x).isdigit())]
clean_ittfa_df.head(20)

,year,month,passengers_in,passengers_out,passengers_total,freight_in,freight_out,freight_total,mail_in,mail_out,...,flights_total,passengers_incl_transit_in,passengers_incl_transit_out,passengers_incl_transit_total,available_seats_in,available_seats_out,available_seats_total,seat_utilisation_in,seat_utilisation_out,seat_utilisation_total
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Month,Passengers,NaN,NaN,Freight (kg),NaN,NaN,Mail (kg),NaN,...,NaN,Passengers (including passengers transitting A...,NaN,NaN,Available seats,NaN,NaN,Seat utilisation %,NaN,NaN
2,NaN,NaN,Inbound,Outbound,Total,Inbound,Outbound,Total,Inbound,Outbound,...,NaN,Inbound to,Outbound from,NaN,Inbound to,Outbound from,NaN,Inbound to,Outbound from,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Total,Australia,Australia,Total,Australia,Australia,Total,Australia,Australia,Total
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1985,Jan,263795,208770,472565,8052874,7682643,15735517,78988,225301,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1985,Feb,204953,179222,384175,9486680,9016229,18502909,82017,228727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1985,Mar,209513,231582,441095,10864416,11294803,22159219,110104,274335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1985,Apr,182673,214403,397076,9285968,8916993,18202961,90416,228588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1985,May,198902,224350,423252,10069178,9445560,19514738,89835,279164,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1985,Jun,193943,209080,403023,9917010,9289537,19206547,95810,238634,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1985,Jul,206179,196596,402775,10221081,8740776,18961857,108872,253346,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1985,Aug,216594,229109,445703,9893065,8676325,18569390,100072,259703,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1985,Sep,243608,197542,441150,9936995,8428223,18365218,91627,247198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1985,Oct,249262,178319,427581,10698610,9661776,20360386,91717,213357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1985,Nov,233980,211234,445214,10078508,10337625,20416133,101312,383910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1985,Dec,243329,273435,516764,9973761,11032881,21006642,150350,510482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,2646731,2553642,5200373,118478146,112523371,231001517,1191120,3342745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
clean_ittfa_df['year'] = pd.to_numeric(clean_ittfa_df['year'])
clean_ittfa_df.dtypes
clean_ittfa_df = clean_ittfa_df.dropna()

In [11]:
# Drop all rows year < 2009

clean_ittfa_df = clean_ittfa_df.drop(clean_ittfa_df[clean_ittfa_df['year'] < 2009].index)
clean_ittfa_df['year'] = clean_ittfa_df['year'].astype(int)
clean_ittfa_df.head(50)

,year,month,passengers_in,passengers_out,passengers_total,freight_in,freight_out,freight_total,mail_in,mail_out,...,flights_total,passengers_incl_transit_in,passengers_incl_transit_out,passengers_incl_transit_total,available_seats_in,available_seats_out,available_seats_total,seat_utilisation_in,seat_utilisation_out,seat_utilisation_total
434,2009,Jan,1223646,1025778,2249424,25791781,26785552,52577333,1744015,1013329,...,11811,1244404,1045681,2290085,1457769,1457446,2915215,85.3636,71.7475,78.5563
435,2009,Feb,969607,823540,1793147,27184874,27304789,54489663,1594689,909102,...,10177,989205,842937,1832142,1257714,1255734,2513448,78.651,67.127,72.8936
436,2009,Mar,937697,933843,1871540,31509322,29527013,61036335,1713906,1052860,...,11159,955905,952070,1907975,1370622,1372128,2742750,69.7424,69.3864,69.5643
437,2009,Apr,971404,1004204,1975608,28921311,26224702,55146013,1710087,890318,...,10951,986957,1019694,2006651,1341715,1340952,2682667,73.5594,76.0425,74.8006
438,2009,May,842073,922435,1764508,31179480,24396268,55575748,1870405,961951,...,10914,855367,935498,1790865,1341071,1342106,2683177,63.7824,69.7037,66.7442
439,2009,Jun,853975,975920,1829895,33153606,22880254,56033860,1893977,809285,...,10679,866799,988882,1855681,1298856,1300356,2599212,66.7356,76.047,71.394
443,2009,Jul,1140351,999000,2139351,37173487,23136222,60309709,1974998,965016,...,11626,1154875,1013270,2168145,1402731,1401950,2804681,82.3305,72.2758,77.3045
444,2009,Aug,994466,1005333,1999799,36230150,23596909,59827059,1978490,868883,...,11641,1006407,1017519,2023926,1396141,1396556,2792697,72.0849,72.8592,72.4721
445,2009,Sep,1041573,1045194,2086767,35048166,24711797,59759963,2069386,911162,...,11274,1051541,1055502,2107043,1355726,1358180,2713906,77.5629,77.7144,77.6388
446,2009,Oct,1195265,1022497,2217762,38982629,25816738,64799367,2296536,976591,...,11772,1206564,1033707,2240271,1427459,1428249,2855708,84.5253,72.3758,78.4489
447,2009,Nov,1021470,1054438,2075908,41068183,26365645,67433828,2374963,1157410,...,11436,1035574,1068440,2104014,1385788,1388481,2774269,74.7282,76.9503,75.8403
448,2009,Dec,1115592,1287599,2403191,38966809,28400090,67366899,2894794,1802496,...,12408,1133022,1304994,2438016,1518083,1518971,3037054,74.635,85.913,80.2757
452,2010,Jan,1331612,1151057,2482669,32362026,25409324,57771350,2071030,910213,...,12615,1349980,1168986,2518966,1551894,1554454,3106348,86.9892,75.2024,81.0909
453,2010,Feb,1078500,951627,2030127,33255288,27621164,60876452,1816421,804580,...,11103,1097606,970704,2068310,1362745,1364393,2727138,80.5438,71.1455,75.8418
454,2010,Mar,1052707,1092822,2145529,41445472,27532854,68978326,2226917,903620,...,12113,1070261,1110443,2180704,1476308,1478344,2954652,72.4958,75.114,73.8058
455,2010,Apr,1026383,1036390,2062773,37377196,24543693,61920889,2127204,834630,...,11722,1039114,1048977,2088091,1424043,1429089,2853132,72.9693,73.4018,73.1859
456,2010,May,893089,993010,1886099,41484612,25591501,67076113,2372185,893412,...,11813,904333,1004303,1908636,1429353,1432360,2861713,63.2687,70.1153,66.6956
457,2010,Jun,963769,1131910,2095679,39786108,24072577,63858685,2132827,777114,...,11671,974691,1142691,2117382,1412740,1415345,2828085,68.9929,80.7359,74.8698
461,2010,Jul,1299592,1101544,2401136,41364184,25379247,66743431,2325740,874488,...,12698,1312472,1114207,2426679,1544443,1543804,3088247,84.9803,72.1728,78.5779
462,2010,Aug,1083502,1130243,2213745,43464915,25074383,68539298,2366331,879605,...,12460,1094494,1141322,2235816,1512728,1517780,3030508,72.3523,75.1968,73.7769
463,2010,Sep,1142673,1173690,2316363,43914047,24990976,68905023,2339704,797785,...,12097,1152897,1183849,2336746,1470205,1472034,2942239,78.4174,80.4227,79.4207
464,2010,Oct,1288712,1084487,2373199,47291560,26196014,73487574,2691457,907589,...,12376,1300130,1095638,2395768,1512112,1514265,3026377,85.9811,72.3544,79.1629
465,2010,Nov,1084692,1120950,2205642,47738964,28287573,76026537,2633296,1100920,...,12133,1098395,1134481,2232876,1467484,1471408,2938892,74.8489,77.1017,75.9768
466,2010,Dec,1184169,1393185,2577354,42552110,29665903,72218013,3224338,1695442,...,13240,1201083,1409968,2611051,1620376,1624182,3244558,74.1237,86.811,80.4748
470,2011,Jan,1460356,1248767,2709123,35824725,25885611,61710336,2521001,864161,...,13600,1480726,1268452,2749178,1688938,1688977,3377915,87.672,75.1018,81.3868
471,2011,Feb,1139969,980257,2120226,34255676,24591433,58847109,2214719,779086,...,11831,1159250,999308,2158558,1463773,1463789,2927562,79.196,68.2686,73.7323
472,2011,Mar,1055726,1055897,2111623,45592781,28793756,74386537,2697735,930393,...,12874,1071136,1071376,2142512,1580537,1581828,3162365,67.7704,67.7302,67.7503
473,2011,Apr,1097300,1188149,2285449,42295778,24570552,66866330,2689044,802069,...,12709,1110054,1200844,2310898,1560978,1563737,3124715,71.1127,76.7932,73.9555
474,2011,May,1010388,1069097,2079485,42854408,25820495,68674903,2625606,816824,...,12662,1021772,1080587,2102359,1554320,1556568,3110888,65.7376,69.4211,67.5807
475,2011,Jun,991794,1164150,2155944,42689486,23381966,66071452,2711318,842976,...,11760,998919,1171057,2169976,1474466,1474521,2948987,67.7478,79.4195,73.5838
479,2011,Jul,1366044,1165850,2531894,44935486,24992676,69928162,2781751,860731,...,13411,1378802,1178256,2557058,1644367,1642916,3287283,83.85,71.7174,77.7864
480,2011,Aug,1144506,1164418,2308924,47915028,26161237,74076265,3035686,822363,...,13253,1156135,1176270,2332405,1617893,1621656,3239549,71.4593,72.5351,71.9978
481,2011,Sep,1167424,1234511,2401935,45810038,25552829,71362867,2750633,838223,...,12835,1181690,1248691,2430381,1573750,1574639,3148389,75.0875,79.3001,77.1944
482,2011,Oct,1356836,1119499,2476335,48083312,26467844,74551156,2688575,845768,...,13279,1371530,1134111,2505641,1629253,1631267,3260520,84.1815,69.5233,76.8479
483,2011,Nov,1141680,1161292,2302972,47436708,28657712,76094420,2875956,995785,...,12726,1163056,1182572,2345628,1567551,1566445,3133996,74.1957,75.494,74.8446
484,2011,Dec,1219820,1451279,2671099,43789126,32113070,75902196,3243563,1592414,...,13713,1257734,1489318,2747052,1705067,1710663,3415730,73.7645,87.0609,80.4236
488,2012,Jan,1522951,1280575,2803526,36153503,27320464,63473967,2470944,772245,...,13986,1569019,1325876,2894895,1746734,1744494,3491228,89.8259,76.0035,82.9191
489,2012,Feb,1202079,1018688,2220767,39500135,27562109,67062244,2473825,882332,...,12299,1247550,1064118,2311668,1522792,1526336,3049128,81.9252,69.7172,75.8141
490,2012,Mar,1140970,1184391,2325361,47184081,28081977,75266058,2755507,843347,...,12886,1180614,1224010,2404624,1593673,1592519,3186192,74.0813,76.86,75.4702
491,2012,Apr,1176642,1202602,2379244,42826868,24292082,67118950,2541896,798875,...,12797,1209970,1236177,2446147,1580158,1584149,3164307,76.5727,78.0341,77.3044
492,2012,May,1001277,1097826,2099103,43771494,27181510,70953004,2658559,903052,...,12425,1029232,1125757,2154989,1540622,1544779,3085401,66.8063,72.875,69.8447
493,2012,Jun,1093857,1267331,2361188,46071665,24924141,70995806,2468922,782354,...,12490,1123706,1297117,2420823,1554008,1558965,3112973,72.3102,83.2037,77.7656
497,2012,Jul,1411426,1183757,2595183,48154751,25371247,73525998,2622177,857793,...,13693,1445676,1217763,2663439,1692216,1692505,3384721,85.4309,71.9503,78.6901
498,2012,Aug,1191135,1227542,2418677,49479006,25996063,75475069,2915059,828231,...,13486,1223463,1260093,2483556,1665904,1665067,3330971,73.4414,75.6782,74.5595
499,2012,Sep,1241037,1291879,2532916,46630558,25599066,72229624,2649766,745100,...,13076,1270690,1321410,2592100,1626825,1630402,3257227,78.1086,81.0481,79.58
500,2012,Oct,1410564,1162152,2572716,47898945,28806740,76705685,2805291,896028,...,13426,1443009,1194337,2637346,1685163,1687963,3373126,85.6302,70.7561,78.187
501,2012,Nov,1206638,1244036,2450674,48324194,30739926,79064120,2768668,872552,...,13055,1247467,1284450,2531917,1644588,1642967,3287555,75.8529,78.1787,77.0152
502,2012,Dec,1314757,1534880,2849637,45210196,33024574,78234770,3304640,1538844,...,14177,1368635,1589118,2957753,1790965,1796836,3587801,76.4189,88.4398,82.4392
506,2013,Jan,1571356,1316140,2887496,37177925,32500280,69678205,2398354,831667,...,14227,1630145,1374405,3004550,1807810,1807468,3615278,90.1724,76.0404,83.107
507,2013,Feb,1235881,1077428,2313309,38277602,30687738,68965340,2148960,722293,...,12341,1293090,1134865,2427955,1566520,1567741,3134261,82.5454,72.3886,77.465

In [12]:
# print(clean_ittfa_df.columns[2:])
for col in clean_ittfa_df.columns[2:]:
    clean_ittfa_df[col] = pd.to_numeric(clean_ittfa_df[col])

clean_ittfa_df.dtypes

year                               int32
month                             object
passengers_in                      int64
passengers_out                     int64
passengers_total                   int64
freight_in                         int64
freight_out                        int64
freight_total                      int64
mail_in                            int64
mail_out                           int64
mail_total                         int64
aircraft_in                        int64
aircraft_out                       int64
aircraft_total                     int64
flights_in                         int64
flights_out                        int64
flights_total                      int64
passengers_incl_transit_in         int64
passengers_incl_transit_out        int64
passengers_incl_transit_total      int64
available_seats_in                 int64
available_seats_out                int64
available_seats_total              int64
seat_utilisation_in              float64
seat_utilisation_out             float64
seat_utilisation_total           float64
dtype: object

In [13]:
clean_ittfa_df.to_csv('../Resources/ittfa_2009-2020.csv',index=False)